.header,
.header__text,
.header__basket,
.header__link,
.header__linkText {
    display: flex;
    align-items: center;
    color: #274C5B;
}

.header {
    padding: 40px 30px 40px 30px;
    justify-content: space-between;
}

.header__link {
    padding-left: 100px;
}

.header__linkText {
    font-size: 19px;
    padding: 20px;
}

.header__basket {
    border: 1px solid #D4D4D4;
    padding: 7px 24px 7px 11px;
    border-radius: 50px;
    cursor: pointer;
}

.header__basketText {
    padding-left: 10px;
}

.header__linkText:hover {
    color: #7EB693;
}

.burger {
    width: 70px;
    padding-left: 20px;
    cursor: pointer;
}

@media(min-width:1101px) {
    .burger {
        display: none;
    }
}


@media(max-width:1100px) {
    .header__link {
        display: none;
    }
}

@media(max-width:540px) {
    .header__text{
        display: flex;
        flex-direction: column;
    }
    
}